.main {
  display: flex;
  justify-content: center;
  margin: 6rem 7% 2rem 7%;
  align-items: center;
}
img {
  height: 350px;
}
.widgets {
  width: 8rem;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid black;
}
.sections{
  display: flex;

}
.widgetPiece{
  display: flex;
}